# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Streamlit secrets
.streamlit/secrets.toml

# VS Code settings
.vscode/

# Logs / temp files
*.log
*.tmp

# Dev scripts
test-scripts/

# Ignore secret key and test files
encoded_key.txt
firebase-bq-key.json
test_*.py
app_installs2.csv